.board .col {
  border: 1px solid rgba(86,61,124,.2);
}

.container {
  padding: 1.5rem;
}

span.danger {
  color: red;
  font-weight: bold;
}

.truncate {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
