<div class="m-5">
  <div class="container" *ngIf="columns$ | async as columns">
    <div class="row">
      <div class="col" *ngFor="let column of columns">
        {{column.header | uppercase}}
      </div>
    </div>
    <div class="row" *ngFor="let row of getRowCount(columns); let i = index;">
      <div class="col"  *ngFor="let column of columns" (click)="setSelectedItem(column.items[i])">
        {{ column.items[i]?.text }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <form>
          <div class="form-group">
            <textarea name="selectedItemText" class="form-control" id="selectedItemText" rows="10" [(ngModel)]="selectedItemText"></textarea>
          </div>
      </form>
    </div>
  </div>
</div>
